html{
    background-color: rgb(236, 236, 122);
}
img{
    width: 400px;
    height: 200px;
    float: right;
}
h1{
    color: royalblue;
    text-align: center;
    text-decoration-line: underline;
}

h2{
    text-decoration-line: underline;
}

.descripcion{
    justify-content: center;
    width: 400px;
    height: 260px;
    padding: 20px;
    border: 8px solid blue;
    background-color: mediumaquamarine;
}
.parrafo{
    line-height: 120%;
}

.listas {
    font-size: 20px;
}
#skill{
    position: relative;
    top: -250px;
    left: 550px;
    width: 300px;
    height: 200px;
    border: 4px double aqua;
    background-color: lavenderblush;
}

.educacion{
    position: absolute;
    top: 100px;
    left: 500px;
    width: 400px;
    height: 300px;
}

#hobbies{
    position: absolute;
    top: 300px;
    left: 1000px;
    width: 200px;
    height: 300px;
    text-align: center;
}